@import url('https://fonts.googleapis.com/css2?family=Puritan:wght@400;700&display=swap');


* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Puritan', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(89.46deg, #944040 0.45%, rgba(125, 53, 53, 0.4) 101.08%);
    display: flex;
    justify-content: space-between;
}

.left-section {
    width: 100%;
    height: 100%;
    width: calc(100% - 60%);
    position: relative;
}

.left-section .logo {
    position: absolute;
    top: 30px;
    left: 30px;
}

.left-section .logo img {
    width: 90px;
    height: 50px;
}

.left-section .contents {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.contents h1 {
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
}

.contents nav {

    width: 100%;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 80px;
}

nav button {
    width: 353px;
    height: 70px;
    margin: 10px 0;
    border: none;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0px 20px 20px 0px;
    font-size: 36px;
    line-height: 40.5px;
    font-weight: 700;
    cursor: pointer;
}

.container .right-section {
    width: calc(100% - 40%);
    height: 100%;
    position: relative;
    z-index: 1;
}

.right-section .top {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(268.87deg, #FEC44C 0.85%, rgba(254, 196, 76, 0.4) 98.94%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px 0px 0px 30px;

    z-index: 777;
}

.wrapper .top h2 {
    margin: 5rem 0 0;
}


.wrapper .top img {
    width: 500px;
    height: auto;
    margin: 3rem 0 0;
}

.wrapper .top button {
    position: absolute;
    bottom: 40px;
    margin: 3rem 0 0;
}


.imgFade {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



.wrapper::before {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(268.87deg, #FEC44C 0.85%, rgba(254, 196, 76, 0.4) 98.94%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px 0px 0px 30px;
    position: absolute;
    top: 0;
    left: -20px;
    z-index: -1;
}

.wrapper::after {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(268.87deg, #FEC44C 0.85%, rgba(254, 196, 76, 0.4) 98.94%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px 0px 0px 30px;
    position: absolute;
    top: 0;
    left: -40px;
    z-index: -1;
}


.active {
    font-size: 48px;
    width: 403.86px;
    height: 80px;
    background: #FEC44C;
    border-radius: 0px 20px 20px 0px;
    transition: 0.5s;
}



.wrapper h2 {
    font-weight: 400;
    font-size: 48px;
    line-height: 53.3px;
    margin: 10px 0;
}



.wrapper button {
    cursor: pointer;
    background: #fff;
    width: 300px;
    height: 70px;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    font-weight: 400;
    font-size: 48px;
    line-height: 53px;
}



@media screen and (max-width:1100px) {
    .container {
        min-height: 100vh;
        flex-direction: column;
    }


    .left-section {
        width: 100%;
        height: 25vh;
    }


    .left-section .contents {
        margin: 2rem 0 0;
    }

    .contents h1 {
        font-size: 24px;
        line-height: 27px;
        padding: 10rem 0 0;
    }

    .contents nav {
        height: 150px;
    }

    nav button {
        width: 150px;
        height: 30px;
        margin: 10px 0;
        border: none;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 0px 20px 20px 0px;
        font-size: 18px;
        line-height: 20.5px;
        font-weight: 700;
        cursor: pointer;
    }


    .active {
        font-size: 20px;
        width: 200px;
        height: 40px;
    }












    .container .right-section {
        width: calc(100% - 100px);
        height: calc(100vh - 45vh);
        margin: 0 0 0 100px;
    }

    .right-section .top {
        height: calc(100vh - 45vh);
    }

    .wrapper .top h2 {
        margin: 5rem 0 0;
    }


    .wrapper .top img {
        width: 200px;
        height: auto;
        margin: 4rem 0 0;
    }

    .wrapper .top button {
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 60px;
        width: 200px;
        height: 40px;
        font-size: 18px;
    }


}